.card-container { 
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }
    .front-card { 
        grid-area: 1 / 1 / 2 / 2; 
        background-color:red;
        z-index: 3;} 
    .back-card { 
        grid-area: 1 / 1 / 2 / 2; 
        background-color:blue;
        z-index: 1;
        } 

    .card{
        width:400px;
        height:800px;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }